.intro {
  color: #fff;
  margin: 3rem auto;
  max-width: 800px;
  padding: 0 2rem;
  position: relative;
  text-align: center;
}

.intro__subtitle {
  font-style: italic;
  opacity: .7;
}

.intro__actions {
  margin: 2rem 0 4rem;
}

.link-github {
  display: inline-block;
  fill: darken($color-primary, 15%);

  &:hover {
    fill: #fff;
  }
}
